.title {
	background-color: #E4393C;
	color: #FFFFFF;
}

header .icon {
	color: #FFFFFF;
}

.card-header,
.list-block,
.list-block .item-subtitle,
.list-block .item-text {
	font-size: 0.7rem;
}

.list-block.media-list .item-title {
	font-weight: normal;
}

.list-block {
	margin: 0;
	font-size: 0.7rem;
}

.content-block-title {
	margin: 1rem 0.75rem 0.5rem;
}


/*表单相关*/

.list-block input[type=text],
.list-block input[type=tel],
.list-block input[type=email],
.list-block textarea,
.list-block input[type=number] {
	font-size: 0.7rem;
}

.list-block .item-media+.item-inner {
	margin-left: 0.5rem;
}

.list-block .item-title.label {
	width: 30%;
}


/*地址选择*/

.picker-modal .bar .title {
	color: #FFFFFF;
}

.picker-items {
	font-size: 0.75rem;
}


/*按钮相关*/

.button {
	height: 2rem;
}

.button.button-fill {
	line-height: 2rem;
}


/*card 相关*/

.card {
	margin: 0;
	margin-bottom: 0.4rem;
}


/*单选框*/

label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox {
	background-color: #E4393C;
}


/*商品图片*/

.img img {
	width: 100%;
}


/*操作表*/

.actions-modal-button {
	font-size: 0.85rem;
}


/*flex 布局*/

.flex-between-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}

.flex-box li {
	flex: 1;
}

.flex-between-box li {
	background-color: #FFFFFF;
	width: 49%;
	height: 10.5rem;
	box-shadow: 0 .05rem .1rem rgba(0, 0, 0, .3);
	font-size: 0.7rem;
	border-radius: 0.2rem;
}


/*商品描述*/

.describe {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	color: #999999;
	font-size: 0.65rem;
}


/*商品价格*/

.price {
	color: #E4393C;
	font-weight: bold;
	font-size: 0.85rem;
}

/*操作表*/
.actions-modal-button {
	font-size: 0.85rem;
}


/*页面数据为空*/
.null{
	text-align: center;
	font-size: 0.7rem;
	display: none;
}

.null img{
	width: 25%;
}